@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --copilot-blue: #004C97;
    --copilot-grey: #c9c4c9;
    --copilot-white: #FFF;
}

body {
    background-image: url(img/forum_background_clear.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    transition: all 0.7s ease;
}

.chatbot-toggler {
    position: fixed;
    bottom: 40px;
    right: 50px;
    outline: none;
    border: 2px solid var(--copilot-grey);
    height: 64px;
    width: 70px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-image: url(img/hagencopilot_small.png);
    background-size: 66px 60px;
    transition: all 0.2s ease;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 1px 4px 10px 0;
    animation: bounce2 1.5s ease 2;
}

@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

body.show-chatbot {
    backdrop-filter: grayscale(1);
}

body.transite-content {
    background-position: 400px 0;
}

body.show-chatbot .chatbot-toggler {
    transform: rotate(180deg);
    background-image: none;
    background-color: var(--copilot-blue);
    box-shadow: none;
    border: 2px solid var(--copilot-white);
}

body.show-chatbot .chatbot-toggler::before {
    content: "X";
    color: var(--copilot-white);
    font-size: 2.5rem;
}

.chatbot-toggler span {
    color: var(--copilot-white);
    position: absolute;
}

.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child {
    opacity: 0;
}

body.show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
}

.chatbot {
    position: fixed;
    right: 55px;
    bottom: 114px;
    width: 65%;
    max-width: 900px;
    background: var(--copilot-white);
    border-radius: 15px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5);
    transform-origin: bottom right;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
        0 32px 64px -48px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease;
    z-index: 2;
}

body.show-chatbot .chatbot {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.chatbot header,
.chatbot-history header {
    padding: 11px 0;
    position: relative;
    text-align: center;
    color: var(--copilot-white);
    background: var(--copilot-blue);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.chatbot header span {
    position: absolute;
    right: 15px;
    top: 50%;
    display: none;
    cursor: pointer;
    transform: translateY(-50%);
}

header h2 {
    font-size: 1.4rem;
}

.chatbot .chatbox {
    overflow-y: auto;
    height: 510px;
    padding: 30px 20px 100px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
    width: 6px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
    background: var(--copilot-white);
    border-radius: 25px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.chatbox .chat {
    display: flex;
    list-style: none;
}

.chatbox .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
}

.chatbox .incoming > span {
    width: 48px;
    height: 48px;
    color: var(--copilot-white);
    cursor: default;
    text-align: center;
    line-height: 32px;
    align-self: center;
    background-image: url(img/favicon.ico);
    border-radius: 4px;
    margin: 0 10px 7px 0;
}

.chatbox .chat p {
    white-space: pre-wrap;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    max-width: 75%;
    color: var(--copilot-white);
    font-size: 0.95rem;
    background: var(--copilot-blue);
}

.chatbox .incoming p {
    border-radius: 10px 10px 10px 0;
}

.chatbox .chat p.error {
    color: #721c24;
    background: #f8d7da;
}

.chatbox .incoming p {
    color: #000;
    background: #f2f2f2;
}

.chatbot .chat-input {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: var(--copilot-white);
    padding: 3px 20px;
    border-top: 1px solid #ddd;
}

.chat-input textarea {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    max-height: 180px;
    padding: 15px 15px 15px 0;
    font-size: 0.95rem;
}

.chat-input span {
    align-self: flex-end;
    color: var(--copilot-blue);
    cursor: pointer;
    height: 55px;
    display: flex;
    align-items: center;
    visibility: hidden;
    font-size: 2rem;
}

.chat-input textarea:valid~span {
    visibility: visible;
}

.chatbot-history {
    position: relative;
    left: 0;
    bottom: 0;
    width: 0;
    background: var(--copilot-white);
    border: 2px solid var(--copilot-blue);
    overflow: hidden;
    visibility: hidden;
    transition: all 0.7s ease;
    height: 100vh;
}

.chatbot-history h2 {
    width: max-content;
    margin-left: 60px;
}

.history-close-btn {
    font-family: 'Material Symbols Rounded';
    font-size: 1.7rem;
    position: absolute;
    top: 14px;
    left: 12px;
    cursor: pointer;
    color: var(--copilot-white);
    z-index: 2;
    animation: horizontal-shaking 1.5s ease 1;
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

.show-chatbotHistory {
    visibility: visible;
    width: 400px;
}


@media (max-width: 490px) {
    .chatbot-toggler {
        right: 20px;
        bottom: 20px;
    }

    .chatbot {
        right: 0;
        bottom: 0;
        height: 100%;
        border-radius: 0;
        width: 100%;
    }

    .chatbot .chatbox {
        height: 90%;
        padding: 25px 15px 100px;
    }

    .chatbot .chat-input {
        padding: 5px 15px;
    }

    .chatbot header span {
        display: block;
    }

    .chatbot-history {
        display: none;
    }
}